/*Header Starts*/
header {
  width: 1440px;
  margin: auto;
  background: #F5F5F5;
  padding: 40px 0px 100px 0px;
}

.Header_logo {
  vertical-align: middle;
  margin-left: 69px;
  margin-right: 312px;
}

nav {
  display: inline-block;
  vertical-align: middle;
  margin: auto;

}

li {
  display: inline-block;
  font-size: 32px;
  font-family: 'Nerko One';
}

.shop {
  margin: 83px;
}

.about {
  margin-right: 80px;
}

.blog {
  color: #FA1A35;
}
.shop,
.contact,
.about {
  color: #0F5009
}
/* Starts Section */
section{
  width: 1440px;
  margin: 0 auto;
  padding: 110px 57px 154px 69px;
  background-color: #1F6519;
}
div{
  display: inline-block;
    vertical-align: top;
    width: 448px;
    color: #FFFFFF; 
    margin-left: 96px;
}
h2{
  margin-left: 114px;
  font-size: 32px;
  font-family: 'Nerko One';
  font-weight: 400px;}
  p{
    margin-top: 35px;
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    }
/*Starts Article*/
article{
  width: 1440px;
  margin: auto;
  padding: 92px 216px 137px 207px;
}
h3{
  font-weight: 400px;
  font-family: 'PT Serif';
  font-style: italic;
  text-align: center;
  font-size: 40px;
  color: #0F5009;
}
.article_text{
  font-weight: 400px;
  text-align: center;
  font-family: 'PT Serif';
  font-style: italic;
  color: #1F6519;
  font-size: 32px;
}
/*THE END!*/
footer{
  width: 1440px;
  margin: auto;
  padding: 76.96px 118px 81px 109.62px;
    background-color: #1F6519;
}
.footer_text1,.Footer_text2{
  display: inline-block;}
  .footer_text1{
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #F4F4F1;
  }
  .Footer_text2{
    margin-left: 617.53px;
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
  
  }